In [42]:
import pandas as pd
import numpy as np

In [43]:
Cdata = pd.read_excel("8.-Invoices-with-Merged-Categories-and-Merged-Amounts.xlsx")

In [44]:
Cdata

,Order ID,Category,Amount
0,CA-2011-167199,Binders | Art | Phones | Fasteners | Paper,609.98 | 5.48 | 391.98 | 755.96 | 31.12
1,CA-2011-149020,Office Supplies | Furniture,2.98 | 51.94
2,CA-2011-131905,Office Supplies | Technology | Technology,7.2 | 42.0186 | 42.035
3,CA-2011-127614,Accessories | Tables | Binders,234.45 | 1256.22 | 17.46

In [45]:
#Extracting the first part for cleaning
Cdata1 = Cdata[['Order ID', 'Category']]

In [46]:
Cdata1

         Order ID                                    Category
0  CA-2011-167199  Binders | Art | Phones | Fasteners | Paper
1  CA-2011-149020                 Office Supplies | Furniture
2  CA-2011-131905   Office Supplies | Technology | Technology
3  CA-2011-127614              Accessories | Tables | Binders

In [47]:
Cdata1["Category"]=Cdata1["Category"].str.split("|")
""" using .str.split to make the strings split and easy to extract"""

C:\Users\mike\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

' using .str.split to make the strings split and easy to extract'

In [48]:
Cdata1

         Order ID                                          Category
0  CA-2011-167199  [Binders ,  Art ,  Phones ,  Fasteners ,  Paper]
1  CA-2011-149020                    [Office Supplies ,  Furniture]
2  CA-2011-131905     [Office Supplies ,  Technology ,  Technology]
3  CA-2011-127614                [Accessories ,  Tables ,  Binders]

In [49]:
#.explode transforms each element of a list-like to a row, replicating the index values.
Cdata1 = Cdata1.explode("Category").reset_index(drop=True)

In [50]:
#Extracting the second part for cleaning
Cdata2 = Cdata[['Order ID', 'Amount']]

In [51]:
Cdata2["Amount"]=Cdata2["Amount"].str.split("|")

C:\Users\mike\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
Cdata2= Cdata2.explode("Amount").reset_index(drop=True)

In [54]:
#Extracting Amount Column from Cdata2
Cdata3 = Cdata2['Amount']

In [55]:
#Adding a column to Cdata1 from Cdata3 to form the fullly cleaned data
Cdata1['Amount'] = Cdata3

In [57]:
Cdata1

          Order ID          Category     Amount
0   CA-2011-167199          Binders     609.98
1   CA-2011-167199              Art       5.48
2   CA-2011-167199           Phones     391.98
3   CA-2011-167199        Fasteners     755.96
4   CA-2011-167199             Paper      31.12
5   CA-2011-149020  Office Supplies       2.98
6   CA-2011-149020         Furniture      51.94
7   CA-2011-131905  Office Supplies        7.2
8   CA-2011-131905       Technology    42.0186
9   CA-2011-131905        Technology     42.035
10  CA-2011-127614      Accessories     234.45
11  CA-2011-127614           Tables    1256.22
12  CA-2011-127614           Binders      17.46

In [59]:
#Rename the fully cleaned data and saving it as a CSV file
Cleaned_Data = Cdata1
Cleaned_Data.to_csv('file_name2.csv', index=False)